manifest {
    name = "nf-dehost"
    author = "Thanh Le Viet"
    defaultBranch = "main"
    homePage = 'https://github.com/thanhleviet/nf-dehost'
    description = 'Removing human sequences from short reads using BOWTIE2'
    mainScript = 'main.nf'
    version = '0.2.0'
}

params {
    merge_lanes = false
    sample_sheet = null
}

process {
    // Default publish directory for every process if there is no specific requirement, otherwise see further below
    publishDir = [
        // path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        path: { "${params.outdir}/${task.process.replaceAll(":","_")}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: true
    ]
}

conda.enabled = true
conda.useMicromamba = true

tower {
  enabled = true
  accessToken = secrets.TWK
  workspaceId = secrets.TWW
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']