process {
    // Default publish directory for every process if there is no specific requirement, otherwise see further below
    publishDir = [
        // path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        path: { "${params.outdir}/${task.process.replaceAll(":","_")}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: true
    ]
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']